.App {
  text-align: center;
}
@font-face{
	font-family:'Roboto Thin';
	font-style: normal;
	font-weight: 100;
	src:local("Roboto Thin"),local(Roboto-Thin),url(https://fonts.gstatic.com/s/roboto/v16/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
}
@font-face {
  font-family: 'Roboto Normal';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.primer{
  height: 700px;
  background-image: url('https://assets.awwwards.com/bundles/tvweb/images/book/2017/case-studies-vol3/bg.jpg');
  background-size: 100%;
  background-repeat: round;
  background-position: center;
}

p{
	color: white;
	font-size: 18px;
	
}
button{
	width: 50%;
	background-color: #404040;
	color:white;

}
.tituloTop{
	width: 25%;
}

.logo{
	height: 50px;
	width: auto;
}

.buttonD{
	height: 75px;
	width: 25%;
	line-height: 75px;
	background-color:  #53ac94;
	align-self: center;
	margin: auto;
	text-align: center;
	color: white;
	font-family: 'Roboto Normal';
}

.buttonD:hover{
	cursor: pointer;
	opacity: 0.5;
	transition-duration: 1s; 
}

.logo:hover{
	cursor: pointer;
	opacity: 0.5;
	transition-duration: 1s;
}
.social{
	color:white;
	font-size: 25px;
}
.social:hover{
	cursor: pointer;
	opacity: 0.5;
	transition-duration: 1s;
}
.twitter2{
	color:white;
	font-size: 150px;
}
.redes{
	width: 30%;
	right:200px;
	float: right;

}
.linea{
	color: white;
	font-size: 60px;
	font-family: Roboto Thin;
}

.textoE{
	background-color: #404040;
	width: 100%;
	height: auto;
}
.contexto{
	width: 25%;
	height: auto;
	text-align: left;
	font-family: Roboto Thin;
	display: inline-block;
}

#textoT{
	font-size: 20px;
	font-weight: bold;
}
.fotos{
	height: 300px;
	background-color: black;
	position: relative;
}

.pics{
	height: 300px;
	display: inline-block;
}
.gradiente{
	background:linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));;
	height: 100%;
	z-index: 10;
}

.fotos:hover{
	cursor: grab;
}

.tst{
	height: 50px;
	width: 50px;
	background-color: red;
}

.espacio{
	height: 60px;
}

.contexto2{
	width: 25%;
	height: auto;
	text-align: center;
	font-family: Roboto Thin;
	display: inline-block;
}

.bookpic{
	width: 100%;
	cursor: pointer;
}
.Card{
	background-color: #4d4d4d;
	width: 45%;
	text-align: left;
	margin: 10px;
}
.description{
	padding-left: 10px;
	padding-bottom: 10px;
	font-family: roboto thin;
	font-size: 10px;
}

.dd{
	font-size: 15px;
}
.cTitle{
	font-family: roboto normal;
	font-size: 15px;
}
.cTitle:hover{
	cursor:pointer;
	color:#d9d9d9;
}
.viewer{
	background-color: #404040;
	display: flex;
	flex-wrap: row-wrap;
}
.espacio2{
	height: 100px;
}
.visor{
	cursor: grab;
}

.mano{
	color: white;
	font-size: 30px;
	text-align: right;
	position: relative;
	animation: movimiento 2s infinite;
}
@keyframes movimiento{
	0% {right: 0px;}
	25% {right: 20px;}
	50% {right: 0px;}
	75% {right: 20px;}
	100% {right: 0px;}
}